.container-fluid {
  display: flex;
}

.column {
  box-sizing: border-box;
}

.sidebar {
  background-color: #2520204b;
  padding: 20px;
  width: 30%; /* Adjust as needed */
}

.genre-filter {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.genre-filter:hover {
  background-color: #e0e0e088;
}

.selected-genre {
  color: #ffffff8a;
  background-color: #3366cca1;
}

.film-list {
  width: 70%; /* Adjust as needed */
}

.film-list-wrapper {
  margin-top: 20px; 
  padding: 20px;
  height: calc(100vh - 40px); /* Set maximum height for movies with vertical scrolling */
  overflow-y: auto; /* Enable vertical scrolling for movies */
}

.genres-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
