<div class="container-fluid mt-4 mb-4">
  <div class="column">
    <!-- Genre Filter Section -->
    <div class="sidebar">
      <div *ngFor="let genre of genreslist; let i = index" 
           (click)="selectGenre(genre)" 
           [ngClass]="{'selected-genre': selectedGenre === genre}"
           class="genre-filter">
        {{ genre }}
      </div>
    </div>
  </div>

  <div class="column">
    <!-- Movie List Section -->
    <div class="film-list-wrapper">
      <h3 *ngIf="movies.length < 1">Loading...</h3>
      <div class="genres-movies">
        <app-movie-tile *ngFor="let movie of movies" [movie]="movie"></app-movie-tile>
      </div>
    </div>
  </div>
</div>
