<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <a href="#" class="navbar-brand">MovieRecommendation</a>
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/moviesFilter" class="nav-link" *ngIf="isLoggedIn" routerLink="moviesFilter">MoviesGenres</a>
      </li>
      <li class="nav-item">
        <a href="/recommended" class="nav-link" *ngIf="isLoggedIn" routerLink="recommended">Recommendations for U</a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()" *ngIf="isLoggedIn">
      <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="searchTerm" name="searchTerm" (keyup.enter)="search()">
        <button mat-button matSuffix type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form> 

    <li class="nav-item" *ngIf="isLoggedIn">
      <div class="custom-dropdown" [class.show]="isDropdownOpen" (click)="toggleDropdown()">
        <a class="nav-link" id="userDropdown">
          <mat-icon class="white-icon">account_circle</mat-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right" [class.show]="isDropdownOpen">
          <a href="/watched" class="dropdown-item" routerLink="watched">Watched Movies</a>
          <a href="/watchLater" class="dropdown-item" routerLink="watchLater">Watch Later Movies</a>
          <hr class="dropdown-divider" />
          <a href class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </div>
    </li>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
