<ng-container>
  <app-slider></app-slider>
</ng-container>

<div class="header">
  <h1 class="trending-text">Trending Movies</h1>
</div>

<div class="wrapper">
  <section id="section">
    <div class="arrow__btn left-arrow" (click)="scrollCarousel('left')">&lt;</div>

    <div class="movie-container">
      <div *ngFor="let movie of visibleMovies" class="item">
        <app-movie-tile [movie]=movie></app-movie-tile>
      </div>
    </div>

    <div class="arrow__btn right-arrow" (click)="scrollCarousel('right')">&gt;</div>
  </section>
</div>
