<ng-container>
  <app-slider></app-slider>
</ng-container>

<div class="wrapper">
  <section id="section1">
    <div class="arrow__btn left-arrow" (click)="scrollCarousel('left')">&lt;</div>

    <div class="movie-container">
      <div *ngFor="let movie of visibleMovies" class="item">
        <app-movie-tile [posterUrl]="movie.poster_url" [title]="movie.title"></app-movie-tile>
      </div>
    </div>

    <div class="arrow__btn right-arrow" (click)="scrollCarousel('right')">&gt;</div>
  </section>
</div>
